
@charset "utf-8";
.main{
	padding: 0.43rem 0.5rem 0;
}
.main input{
	display: block;
	outline: none;
	font: 0.24rem/0.66rem "微软雅黑";
	color: #a1a1a1;
}
.main .type{
	font: 0.33rem/0.6rem "微软雅黑";
	color: #005689;
}
.main ul li{
	border-bottom: 1px solid #363c68;
}
.main ul {
	margin-bottom: 0.66rem;
}

.main button{
	font: 0.33rem/0.99rem "微软雅黑";
	display: block;
	border-radius: 0.09rem;
	width: 6.4rem;
	margin: 0 auto;
	border: none;
	background: #005689;
	color: #fff;
	outline: none;
}
