@charset "utf-8";
body{
	background:#f4f4f4;
}
.staff_name{
	font: 0.28rem/0.65rem "微软雅黑";
	display: block;
	margin: 1.05rem auto 0.65rem; 
	width:5.53rem;
	background: #fff;
	border: 1px solid #dadada;
	padding-left: 0.3rem;
	color:#999;
}
.staff_comment{
	width:5.53rem;
	background: #fff;
	border: 1px solid #dadada;
	height: 2.3rem;
	padding-left: 0.3rem;
	font: 0.28rem/0.5rem "微软雅黑";
	display: block;
	color:#999;
	margin:0 auto 0.69rem;
}
button{
	width:6.4rem;
	background:#005689;
	margin: 0 auto;
    display: block;
    font:0.3rem/0.94rem "微软雅黑";
    color: #fff;
    border:none ;
}
