<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>我的员工</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/my_staff.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="top_main">
			<header class="staff">
				<div class="nav">
					<a href="javascript:history.go(-1)"><div class="back"></div></a>
					<div class="nav_title">我的员工</div>
				</div>
			</header>
		</div>
		<div class="main">
			<div class="title">信访工作科</div>
			<ul>
				<li>员工姓名：<i>王晨</i><a href="pingYi_staff.html"><span>评议</span></a></li>
				<li>员工电话：<i>13461672869</i></li>
				<li>员工状态：<i>在岗</i></li>
			</ul>
			<ul>
				<li>员工姓名：<i>王晨</i><a href="pingYi_staff.html"><span>评议</span></a></li>
				<li>员工电话：<i>13461672869</i></li>
				<li>员工状态：<i>在岗</i></li>
			</ul>
		</div>
	</body>
</html>
