<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>我的员工</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/pingYi_staff.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="top_main">
			<header class="staff">
				<div class="nav">
					<a href="javascript:history.go(-1)"><div class="back"></div></a>
					<div class="nav_title">评议员工</div>
				</div>
			</header>
		</div>
		<div class="main">
			<input name="staff_name"   class="staff_name" type="text"  placeholder="请输入员工姓名"/>
			<textarea name="staff_comment"  class="staff_comment"  placeholder="请输入对员工的评议" /></textarea>
			<button type="button">立即评议</button>
		</div>
	</body>
</html>

