<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>修改密码</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/change_password.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="top_main">
			<header class="staff">
				<div class="nav">
					<a href="javascript:history.go(-1)"><div class="back"></div></a>
					<div class="nav_title">修改密码</div>
				</div>
			</header>
		</div>
		<div class="main">
			<ul>
				<li>
					<label class="type" for="yuan_mima">原密码</label>
					<input type="text" placeholder="输入原密码" id="yuan_mima">
				</li>
				<li>
					<label class="type" for="xin_mima">新密码</label>
					<input type="text" placeholder="输入6-10位密码" id="xin_mima">
				</li>
				<li>
					<div class="type">确认新密码</div>
					<input type="text" placeholder="输入6-10位密码">
				</li>
			</ul>
			<button type="button">确定</button>
		</div>
	</body>
</html>
