<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>登录</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/dengLu.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="nav">
				<a href="javascript:history.go(-1)"><div class="back"></div></a>
				<div class="nav_title">登录</div>
				<div class="aside_icon"></div>
			</div>
			<div class="aside">
				<ul>
					<li class="white"><a href="pingtai_index.html">平台首页</a></li>
					<li><a href="dengLu.html">个人中心</a></li>
				</ul>
			</div>
		</header>
		<div class="title">在岗查询平台登录</div>
		<form>
			<input class="account" type="text" placeholder="请输入账号"/>
			<input class="password" type="text" placeholder="请输入密码"/>
			<a href="../staff/personal.html"><button type="button">登录</button></a>
			<span><a href="#">忘记密码</a></span>
		</form>
		
		
	</body>
</html>
