<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>新闻公告列表</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/news_notice.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="nav">
				<a href="javascript:history.go(-1)"><div class="back"></div></a>
				<div class="nav_title">在岗查询服务平台</div>
				<div class="aside_icon"></div>
			</div>
			<div class="aside">
				<ul>
					<li class="white"><a href="pingtai_index.html">平台首页</a></li>
					<li><a href="dengLu.html">个人中心</a></li>
				</ul>
			</div>
		</header>
		<div class="banner">
		</div>
		<!-------------------新闻列表部分---------------->
		<div class="news_main">
			<div class="type">
				<span>新闻公告</span>
			</div>
			<div class="news_list">
				<ul>
					<li>
					
							<div class="new_img"><img src="../../images/wei_Wen.jpg"></div>
							<div class="new_text">
								<a href="textContent.html"><h3>市人力资源和社会保障局春节前对困难户进行慰问</h3></a>
								<div class="time">2018-2-2 10:50</time>
								<p>
									为深入开展好双报道开展好双报道双服务为深为深入开展好双报道双服务为深入开展好双报道双服务<a href="#">【详情】</a>
								</p>
							</div>
						
					</li>
					<li>
						<div class="new_img"><img src="../../images/yan_Tao.jpg"></div>
						<div class="new_text">
							<h3>市人力资源和社会保障局春节前对困难户进行慰问</h3>
							<div class="time">2018-2-2 10:50</time>
							<p>
								为深入开展好双报道双开展好双报道双服务为深为深入开展好双报道双服务为深入开展好双报道双服务<a href="#">【详情】</a>
							</p>
						</div>
					</li>
					<li>
						<div class="new_img"><img src="../../images/pei_Xun.jpg"></div>
						<div class="new_text">
							<h3>市人力资源和社会保障局春节前对困难户进行慰问</h3>
							<div class="time">2018-2-2 10:50</time>
							<p>
								为深入开展好双报道双服务为深入开服务为深为深入开展好双报道双服务为深入开展好双报道双服务<a href="#">【详情】</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-----------------底部 ----------------->
		<footer></footer>
	</body>
</html>
