<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title></title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/pingtai_index.css" rel="stylesheet" type="text/css">
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="nav">
				<a href="javascript:history.go(-1)"><div class="back"></div></a>
				<div class="nav_title">在岗查询服务平台</div>
				<div class="aside_icon"></div>
			</div>
			<div class="aside">
				<ul>
					<li class="white"><a href="pingtai_index.html">平台首页</a></li>
					<li><a href="dengLu.html">个人中心</a></li>
				</ul>
			</div>
		</header>
		<div class="banner">
			
		</div>
		<div class="notice">
			<span class="notice_icon"></span>
			<ul>
				<li>濮阳市人社局在岗查询系统上线了</li>
			</ul>
		</div>
		<div class="main">
			<ul>
				<a href="news_notice.html"><li>新闻公告</li></a>
				<a href="flow.html"><li>业务办理流程</li></a>
				<a href="keShi_detail.html"><li>信访工作科</li></a>
				<a href="keShi_detail.html"><li>人事科</li></a>
				<a href="#"><li>法规调研科</li></a>
				<a href="#"><li>就业促进工作办公室</li></a>
				<a href="#"><li>劳动关系科</li></a>
				<a href="../leader/leader_personal.html"><li>养老保险科</li></a>
			</ul>
		</div>
		<script type="text/javascript">
			var list_icon=$(".main ul li")
			list_icon.each(function(){
				if($(this).text().length>6){
					$(this).addClass("break")
				}
			})
		</script>
		
	</body>
	
</html>
