<!DOCTYPE html>
<html>
	<head>
		<meta  charset="UTF-8"  name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<title>在岗查询服务平台</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css">
		<link href="../../css/content.css" rel="stylesheet" type="text/css">	
		<script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/index.js" type="text/javascript"></script>
		
	</head>
	<body>
		<header>
			<div class="nav">
				<a href="javascript:history.go(-1)"><div class="back"></div></a>
				<div class="nav_title">在岗查询服务平台</div>
				<div class="aside_icon"></div>
			</div>
			<div class="aside">
				<ul>
					<li class="white"><a href="pingtai_index.html">平台首页</a></li>
					<li><a href="dengLu.html">个人中心</a></li>
				</ul>
			</div>
		</header>
		
		<div class="con_main">
			<div class="title">专业技术职务聘任</div>
			<div class="text_message">来源：<span class="from">管理中心</span>&ensp;&ensp;&ensp;时间：<span class="time">2017-8-23</span></div>
			<div class="article">
					<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
				    近日，湖南省落实河长制工作有了&quot;升格配置&quot;。最新消息显示，该省副省长隋忠诚已代替水利厅厅长詹晓安，担任河长办主任。
					</p>
					<p style="margin-top: 1.8em; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    长安街知事(微信ID:Capitalnews)发现，这是隋忠诚履新湖南副省长半年后的最新兼职。
					</p>
					<p class="content-img" style="margin-top: 1.8em; margin-bottom: 30px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    <img src="https://p0.ssl.cdn.btime.com/t011c2dc91c06a4f2cf.jpg?size=550x411"/>
					</p>
					<p style="margin-top: 1.8em; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    公开资料显示，隋忠诚1967年生于吉林长春，经济学博士学位，高级工程师。此前，隋忠诚长期在本省工作，去年7月从吉林副省长任上调任湖南副省长。
					</p>
					<p style="margin-top: 1.8em; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    值得一提的是，在吉林任职的近30年里，隋忠诚多数时间在和水利工程、防汛抗旱&quot;打交道&quot;，曾历任吉林省防汛抗旱指挥部办公室助理工程师、水库科科长，水利厅工管处处长，水利厅副厅长。2007年起转任通化市长，长春副市长，省发改委主任，2013年出任吉林副省长。
					</p>
					<p style="margin-top: 1.8em; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    今年2月中旬，湖南省公布了最新一届政府班子成员的分工，隋忠诚负责民政、农业、农村、林业、水利、防汛抗旱、粮食、供销、移民、扶贫、农业综合开发工作。
					</p>
					<p style="margin-top: 1.8em; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: &quot;Hiragino Sans GB&quot;, &quot;Microsoft Yahei&quot;, &quot;\\5B8B体&quot;; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
					    长安街知事(微信ID:Capitalnews)注意到，湖南省河委会最近印发的《关于加强湖南省河长制工作委员会办公室领导设置的通知》显示，为进一步贯彻落实党中央、国务院实施河长制、湖长制的决策部署，决定副省长隋忠诚担任省河长办主任，水利厅厅长詹晓安担任常务副主任。
					</p>
					<p>
					    <br/>
					</p>
			</div>
		</div>
		<footer></footer>
		<script>
			$(".news_list li:even").addClass("gray")
		</script>
	</body>
</html>
